@model IEnumerable<RentYourMovie.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(!Model.Any())
{
    <p>There are no customer right now.</p>
}
else
{
    
    <h3>Customers</h3>
    <table id="customer" class="table table-bordered table-hover"  >
        <thead>
            <tr>
                <th>Name</th>
                <th>Discount Rate</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", "Customers", new { id = item.Id }, null)</td>
                    <td>@item.MembershipType.Name </td>
                    <td>
                        <button data-customer-id="@item.Id" class="btn-link js-delete">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            //Calling dataTables
            $("#customer").DataTable();

            //Handling click event for delet button
            $("#customer").on("click"," .js-delete", function ()
            {
                var button = $(this);
                bootbox.confirm("Are you sure?", function (result)
                {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

               
            });
        });
    </script>
}