@model IEnumerable<RentYourMovie.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Customers</h3>
<table id="customer" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Discount Rate</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function ()
        {
            //Calling dataTables
            var dataTable = $("#customer").DataTable
            ({
                ajax:
                {
                    url: "/api/customers",
                    dataSrc:""
                },
                columns:
                [
                    {
                        data: "name",
                        render: function (data, type, row) {
                            return "<a href='/customers/edit/" + row.id + "'>" + row.name + "</a>";
                        }
                    },
                    {
                        data: "membershipType.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button data-customer-id=" + data + " class='btn-link js-delete'>Delete</button>";
                        }
                    }
                ]
            });

            //Handling click event for delet button
            $("#customer").on("click"," .js-delete", function ()
            {
                var button = $(this);
                bootbox.confirm("Are you sure?", function (result)
                {
                    if(result)
                    {
                        $.ajax({
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                dataTable.row(button.parents("tr")).remove().draw();
                                
                            }
                        });
                    }
                });

               
            });
        });
    </script>
}